---
export interface Props {
	title: string;
	body: string;
	body2: string;
	jobtitle: string;
	href: string;
	imglink: string;
	imgalt: string;
	projectnum: string
}
const { title, body, body2, jobtitle, href, imglink, imgalt, projectnum } = Astro.props;
---

<article class="project-card">
	<div class="project-card__left">

		<p class="project-card__num">
			{projectnum}
		</p>

		<h2 class="project-card__title subtitle">
			{title}
		</h2>

		<p class="project-card__job-title">
			{jobtitle}
		</p>

		<p class="project-card__body">
			{body}
		</p>

		<p class="project-card__body project-card__body-second">
			{body2}
		</p>

		<a href={href} class="project-card__link">
			<span>VIEW PROJECT</span>
			<img src="/svg/arrow.svg" alt="Click me arrow" class="project-card__link-arrow">
		</a>
	</div>

	<div class="project-card__right">
		<img src={imglink} alt={imgalt} class="project-card__img">
	</div>

</article>

<style lang="scss">
	@use '../styles/_mixins.scss' as *;

	.project-card {
		flex-shrink: 0;
		padding-bottom: 4rem;
		margin-bottom: 4rem;
		border-bottom: 4px solid var(--black);

		@include ltab {
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-bottom: 0;
			padding-bottom: 0;
			border: 0;
		}

		&__left {
			margin-right: 2rem;

			@include tablet {
				max-width: 57ch;
			}
		}

		&__num {
			font-family: var(--ff-heading);
			font-size: var(--fs-small);
			margin-bottom: 4rem;
		}

		&__title {
			margin-bottom: 2rem;

			@include ltab {
				margin-bottom: 4rem;
			}
		}

		&__job-title {
			margin-bottom: 2rem;

			@include ltab {
				margin-bottom: 4rem;
			}
		}

		&__body {
			margin-bottom: 1rem;
			font-size: var(--fs-regular);

			&-second {
				margin-bottom: 2rem;

				@include ltab {
					margin-bottom: 8rem;
				}
			}
		}

		&__link {
			color: var(--grey);
			display: flex;
			align-items: center;
			text-decoration: none;
			margin-bottom: 1rem;


			@include tablet {
				margin-bottom: 0;
			}

			&-arrow {
				margin-left: 0.5rem;
				width: 30px;
			}
		}

		&__img {
			width: 100%;
			height: auto;
		}
	}


	.project-card:not(:last-of-type) {
		@include ltab {
			padding-right: 10rem;
			margin-right: 10rem;
			border-right: 6px solid var(--black);
		}
	}
</style>